@media screen and (min-width: 480px) {

/*******
TWO COLUMN LAYOUT
*******/

#primary {
	width: 50%;
	float: left;
}

#secondary {
	width: 40%;
	float: right;
}

@media screen and (min-width: 660px) {

/*******
PAGE: HEADER
*******/

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }

  header {
    border-bottom: 5px solid #599a68;
    margin-bottom: 60px;
  }


}



